{% extends 'baseBO.html.twig' %}

{% block title %}The flow | Profile{% endblock %}

{% block body %}

<header>
  <!-- Title -->
  <div class="bo-segView-title">
      <h2>THE PROFILE</h2>
      <p>This is where you can change stuff about you.</p>
      <p class="text-sm">Don't make a mess... I kept it tidy !</p>
  </div>

  <!-- Alerts -->
  {% block flash_messages %}
      {% for type, messages in app.session.flashbag.all() %}
          {% for message in messages %}
              <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  {{ message | raw }}
              </div>
          {% endfor %}
      {% endfor %}
  {% endblock %}
</header>

<section>
  <!-- Forms -->
  {{ form_start(form) }}
  <div class="form-group">
    <label>New username</label>
    {{ form_widget(form.username)}}
    <small class="form-text text-muted">Make it what ever you want just be nice.</small>
  </div>
  <div class="form-group">
    <label>New password</label>
    {{ form_errors(form.new_password.first) }}
    {{ form_widget(form.new_password.first)}}
  </div>
  <div class="form-group">
    <label>Password confirmation</label>
    {{ form_errors(form.new_password.second) }}
    {{ form_widget(form.new_password.second)}}
  </div>
  <button type="submit" class="btn btn-primary">Save changes</button>
  {{ form_end(form)}}
</section>

{% endblock %}
