<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/mediaq.css') }}" />

        <link rel="icon" href="{{ asset('img/floppy.png') }}" />

        <link rel="stylesheet" href="{{ asset('fonts/Fontawesome/css/all.css') }}" />
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Share+Tech+Mono&display=swap" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        
        <script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/pageBehavior.js') }}"></script>

        {% block javascripts %}
        
        <script>
            $(document).ready(function(e) {
                const InitpageBehavior = new pageBehavior();
            });
        </script>
        
        {% endblock %}
        
    </body>
</html>
