<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/mediaq.css') }}" />

        <link rel="icon" href="{{ asset('img/floppy.png') }}" />

        <link rel="stylesheet" href="{{ asset('fonts/Fontawesome/css/all.css') }}" />
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Share+Tech+Mono&display=swap" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-2 bo-menu">
                    
                    <!-- Title -->
                    <div class="bo-menu-title">
                        <a href="/">
                            <h1>THE FLOW</h1>
                            <p>By Johan SUTTER</p>
                        </a>
                    </div>
                    
                    <!-- Menu -->
                    <p>Welcome to your back office you beautiful.</p>
                    <ul class="list-group bo-menu-summary">
                        <a href="/" class="list-group-item list-group-item-action"><i class="fas fa-home"></i>Front page</a>
                        <a href="{{ path('splashPage') }}" class="list-group-item list-group-item-action"><i class="fas fa-tint"></i>Spash page</a>
                        <a href="{{ path('segmentView') }}" class="list-group-item list-group-item-action"><i class="fas fa-eye"></i>Segments view</a>
                        <a href="{{ path('Profil') }}" class="list-group-item list-group-item-action"><i class="fas fa-id-badge"></i>Profil</a>
                        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#staticBackdrop"><i class="fas fa-door-open"></i>Log Out</a>
                    </ul>

                    <!-- Image & credit -->
                    <img src="{{ asset('img/myPeeps3.png') }}" alt="Image Cadenas géant avec deux personnes de chaque côté">
                    <p class="bo-login-artDisclaimer"> Art created on <a href="https://blush.design/fr" target="_blank">Blush</a></p>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                   <h5 class="modal-title" id="staticBackdropLabel">Are you sure you want to Log Out ?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>It's been cool and all but I feel that you're on the go ! You wanna log out ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <form action="{{ path('LogOut') }}" method="GET">
                                        <button type="submit" class="btn btn-primary">Log Out</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- content -->
                <div class="col-2 hiddenCol"></div>
                <div class="col bo-content">
                        {% block body %}{% endblock %}
                </div>
            </div>
       </div>

        {% block javascripts %}{% endblock %}
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>
