{% extends 'baseBO.html.twig' %}

{% block title %}The flow | Segment Creation{% endblock %}

{% form_theme formSegment 'bootstrap_4_layout.html.twig' %}

{% block body %}

<header>
  <!-- Title -->
  <div class="bo-segView-title">
      <h2>THE SEGMENT CREATION AREA</h2>
      <p>Make something new, make something blue.</p>
      <p class="text-sm">Though it doesn't have to be blue, really !</p>
  </div>

  <!-- Alerts -->
    {% block flash_messages %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ message | raw }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}

  <!-- Buttons -->
  <form action="{{ path('segmentView') }}" method="GET">
      <button type="submit" class="btn btn-secondary"><i class="fas fa-caret-square-left"></i>Go back</button>
  </form>
</header>

<section>
  <!-- First part title -->
  <div class="bo-segView-title">
      <h3>First part</h3>
      <p>This is the intro of a segment. Make it awesome !</p>
      <p class="text-sm">but keep it short. this is not your life story. </p>
  </div>

  <!-- Forms -->
  <div class="bo-form-firstPart">
    {{ form_start(formSegment) }}
    <div class="form-group">
      <label for="">Part number</label>
      {{ form_errors(formSegment.part) }}
      {{ form_widget(formSegment.part) }}
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Title</label>
      {{ form_errors(formSegment.title1) }}
      {{ form_widget(formSegment.title1) }}
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Message</label>
      {{ form_errors(formSegment.message1) }}
      {{ form_widget(formSegment.message1, {'attr' : {'rows': "10"}}) }}
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Link to the video</label>
      {{ form_errors(formSegment.link1) }}
      {{ form_widget(formSegment.link1, {'attr' : {'placeholder': "http://www.youtube.com"}}) }}
      <small id="emailHelp" class="form-text text-muted">Host the video on Youtube and past the link here.</small>
    </div>
  </div>

  <!-- Second part title -->
  <div class="bo-segView-title">
      <h3>Second part</h3>
      <p>Here we go deeper into details, so come on... open up ! </p>
      <p class="text-sm">This has to be the best place to write about something you like</p>
  </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      {{ form_errors(formSegment.title2) }}
      {{ form_widget(formSegment.title2) }}
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Message</label>
      {{ form_errors(formSegment.message2) }}
      {{ form_widget(formSegment.message2, {'attr' : {'rows': "10"}}) }}
    </div>
    <div>
      <label for="exampleInputPassword1">Media Upload</label>
    </div>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-video-tab" data-toggle="pill" href="#pills-video" role="tab" aria-controls="pills-video" aria-selected="true">Video</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-slider-tab" data-toggle="pill" href="#pills-slider" role="tab" aria-controls="pills-slider" aria-selected="false">Slider</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link disabled" id="pills-image-tab" data-toggle="pill" href="#pills-image" role="tab" aria-controls="pills-images" aria-selected="false">Image</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
        <div class="form-group">
          <label for="exampleInputPassword1">ID of the youtube video</label>
          {{ form_errors(formSegment.link3) }}
          {{ form_widget(formSegment.link3) }}
          <small id="emailHelp" class="form-text text-muted">Host the video on Youtube and past the ID here.</small>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-slider" role="tabpanel" aria-labelledby="pills-slider-tab">
        
        <div class="bo-mediaPreview">
          <div class="bo-media-grid">
            <p>Image 01</p>
            <img src="{{ asset('img/floppy.png') }}">
            <button type="button" class="btn btn-danger"><i class="fas fa-exclamation-triangle"></i>Delete</button>    
          </div>

          <div class="bo-media-grid">
            <p>Image 02</p>
            <img src="{{ asset('img/floppy.png') }}">
            <button type="button" class="btn btn-danger"><i class="fas fa-exclamation-triangle"></i>Delete</button>    
          </div>

          <div class="bo-media-grid">
            <p>Image 03</p>
            <img src="{{ asset('img/floppy.png') }}">
            <button type="button" class="btn btn-danger"><i class="fas fa-exclamation-triangle"></i>Delete</button>    
          </div>
        </div>
        
        <div class="form-group">
          <label for="segment_link_s1">Select image 01</label>
          {{ form_errors(formSegment.link_s1) }}
          {{ form_widget(formSegment.link_s1) }}
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Select image 02</label>
          {{ form_errors(formSegment.link_s2) }}
          {{ form_widget(formSegment.link_s2) }}
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Select image 03</label>
          {{ form_errors(formSegment.link_s3) }}
          {{ form_widget(formSegment.link_s3) }}
        </div>
      </div>
      <div class="tab-pane fade" id="pills-image" role="tabpanel" aria-labelledby="pills-image-tab">
        <div class="form-group">
          <label for="exampleInputPassword1">Select image</label>
          {{ form_errors(formSegment.link2) }}
          {{ form_widget(formSegment.link2) }}
        </div>
      </div>
    </div>

    {% if editMode  %}
      <button type="submit" class="btn btn-warning"><i class="fab fa-firstdraft"></i>Edit</button>
    {% else %}
      <button type="submit" class="btn btn-success">Publish</button>
    {% endif%}
  {{ form_end(formSegment)}}

{% endblock %}