{% extends 'baseBO.html.twig' %}

{% block title %}The flow | Segment Trash{% endblock %}

{% block body %}

<header>
  <!-- Title -->
  <div class="bo-segView-title">
      <h2>THE TRASH</h2>
      <p>That's... Hum... Maybe... Yeah... </p>
      <p class="text-sm">We won't talk about what's in here.</p>
  </div>

  <!-- Alerts -->
    {% block flash_messages %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ message | raw }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}

    <!-- Buttons -->
    <div class="btn-group mr-2" role="group">
        <form action="{{ path('segmentView') }}" method="GET">
            <button type="submit" class="btn btn-secondary"><i class="fas fa-caret-square-left"></i>Go back</button>
        </form>
    </div>
    <div class="btn-group mr-2" role="group">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i>Empty trash</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Delete all the segements</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You will empty the trash and delete everything ! be gentle.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ path('TrashAll') }}" method="GET">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-exclamation-triangle"></i>Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <!-- Segment list -->
    <div class="bo-segView-group">

        <div class="bo-segView-row-title">
            <div class="row">
                <div class="col-4">
                <label>Titles</label>
                </div>
                <div class="col-4">
                <label>Last update</label>
                </div>
                <div class="col">
                <label>Options</label>
                </div>
            </div>
        </div>

        {% for segment in segments %}
            <div class="bo-segView-row">
                <div class="row">
                    <div class="col bo-segView-row-text">
                        <h3>{{ segment.title1}}</h3>
                    </div>
                    <div class="col bo-segView-row-text">
                        <p>{{ segment.createdAt| date('d/m/Y')}} at {{ segment.createdAt| date('H:i')}}</p>
                    </div>
                    <div class="col-4">
                        <div class="bo-segView-btnGroup">
                            <form action="{{ path('removeFromTrash', {'id':segment.id}) }}" method="GET">
                                <button type="submit" class="btn btn-success"><i class="fas fa-undo-alt"></i>Remove from trash</button>
                            </form>

                            <button type="button" class="btn btn-danger "data-toggle="modal" data-target="#staticBackdrop{{ segment.id }}"><i class="fas fa-trash-alt"></i>Delete</button>

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop{{ segment.id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Delete segement</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            You will permanently delete this segment ! Are you sure ? Really sure ? Really really sure ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <form action="{{ path('deleteFromTrash', {'id':segment.id}) }}" method="GET">
                                                <button type="submit" class="btn btn-danger"><i class="fas fa-exclamation-triangle"></i>Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
<section>

{% endblock %}
