{% extends 'baseBO.html.twig' %}

{% block title %}The flow | Segment View{% endblock %}

{% block body %}

<header>
    <!-- Title -->
    <div class="bo-segView-title">
        <h2>THE SEGMENT VIEW</h2>
        <p>This is the place where you can see EVERYTHING !</p>
        <p class="text-sm">Except ghost... Definitely not ghost...</p>
    </div>

    <!-- Alerts -->
    {% block flash_messages %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ message | raw }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}

    {# </div> #}

    <!-- Buttons -->
    <div class="btn-group" role="group" aria-label="Basic example">
        <div class="btn-group mr-2" role="group">
            <form action="{{ path('segmentAdd') }}" method="GET">
                <button type="submit" class="btn btn-primary"><i class="fas fa-edit"></i>Add new</button>
            </form>
        </div>
        {% if trash == true %}
        <div class="btn-group mr-2" role="group">
            <form action="{{ path('segmentTrash') }}" method="GET">
                <button type="submit" class="btn btn-secondary"><i class="fas fa-trash-alt"></i>Trash</button>
            </form>
        </div>
        {% endif %}
    </div>
</header>

<section>

    <!-- Segment list -->
    <div class="bo-segView-group">

        <div class="bo-segView-row-title">
            <div class="row">
                <div class="col-4 col-sm-2 col-lg-4">
                <label>Titles</label>
                </div>
                <div class="col-4 col-sm-2 col-lg-4">
                <label>Last update</label>
                </div>
                <div class="col col-sm-2 col-lg-4">
                <label>Options</label>
                </div>
            </div>
        </div>

        {% for segment in segments %}
            <div class="bo-segView-row">
                <div class="row">
                    <div class="col col-sm-2 col-lg-4 bo-segView-row-text">
                        <h3>{{ segment.title1 }}</h3>
                    </div>
                    <div class="col col-sm-2 col-lg-4 bo-segView-row-text bo-segView-row-date">
                        <p>{{ segment.createdAt| date('d/m/Y') }} at {{ segment.createdAt| date('H:i') }}</p>
                    </div>
                    <div class="col-4 col-sm-2 col-lg-4">
                        <div class="bo-segView-btnGroup">
                            <form action="{{ path('segmentEdit', {'id':segment.id}) }}" method="GET">
                                <button type="submit" class="btn btn-warning"><i class="fab fa-firstdraft"></i>Edit</button>
                            </form>

                            <button type="button" class="btn btn-danger "data-toggle="modal" data-target="#staticBackdrop{{ segment.id }}"><i class="fas fa-trash-alt"></i>Delete</button>

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop{{ segment.id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel{{ segment.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel{{ segment.id }}">Delete segement</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            You do realise that you will put in the trash all the work and effort you have put in this segment ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                            <form action="{{ path('segmentBin', {'id':segment.id}) }}" method="GET">
                                                <button type="submit" class="btn btn-danger"><i class="fas fa-exclamation-triangle"></i>Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
<section>

{% endblock %}
